<%- include('partials/header') %> 

<div class="main text container segment">
    <div class="ui hudge header">Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% posts.forEach(post => { %>
                <div class="item">
                    <div class="image">
                        <img src="<%= post.image %>" alt="post image">
                    </div>
                    <div class="content">
                        <a class="header" href="/posts/<%= post._id %>"><%= post.title %></a>
                        <div class="meta">
                            <span><%= post.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- post.body.substring(0, 100) %>...</p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/posts/<%= post._id %>">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<a href="/posts/new">Create new Post</a>

<%- include('partials/footer') %> 