<%- include('partials/header') %> 

<div class="ui main text container segment">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>" alt="post image">
            <div class="content">
                <span><%= post.created.toDateString() %> </span>
            </div>
            <div class="description">
                <p><%= post.body %></p>
            </div>
        </div>
    </div>
</div>

<p><a href="/posts/<%= post._id %>/edit">Edit Post</a>
<button>Delete Post</button>
</p>
<p><a href="/posts">Go back</a></p>

<%- include('partials/footer') %> 